<div>
    <button mat-button routerLink="/stations" routerLinkActive="active">Stations</button>
    
    <button mat-button routerLink="/reports" routerLinkActive="active">Reports</button>

    <button mat-button routerLink="/suppliers" routerLinkActive="active">Suppliers</button>

    <!-- <button mat-button routerLink="/logout" routerLinkActive="active"> <mat-icon>account_circle</mat-icon></button> -->
       
    <button mat-button [matMenuTriggerFor]="belowMenu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item  routerLink="/logout" routerLinkActive="active">Logout</button>
      <!-- <button mat-menu-item>Item 2</button> -->
    </mat-menu>
<!--     
    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    
    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu> -->

    </div>