/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center{
    text-align: center !important;
}

a{
    color: teal;
    
}

.custom-btn{
    background-color: darkcyan;
    color: white;
     
}

.btn-alignment{
    left: 110px;   
}

.register{
    margin-top: 20px;
}

.page-alignment{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}